body
{
	font-size: 16px;
	background: #E9ECEF;
}

header.menu
{
	background:#cdd1d9;
}

ul{list-style: none;}

li
{
	display: inline-block;
	padding: .7%;
	text-align: center;
}

header.menu ul li img
{
	width: 50%;
}

li.notificacion
{
	float: right;
}

li.salir
{
	float: right;
}

ul li img:hover
{
	-webkit-animation: swing 1s 5;
}

section article article.datos img
{
	border-radius: 50%;
	border:4px solid black;
	float:left;
	margin-top: .5em;
}

article.datos
{
	background: white;
	border-bottom: 3px solid blue;


}

article.grupos
{
	margin: 5% 0 0 0;
	text-align: center;
	border-bottom: 3px solid blue;
	background: #dfe1e6;;
}


article.grupos h4
{
	background: white;
	height: 30px;

}


article#grupos_creados
{
	background: url(../img/menu/user.png) no-repeat 50%;
	background-size: 70px 70px;
	height: 100px;
}

section.container
{
	margin-left: 30px !important;
}


article h5
{
	background: white;
	padding: 1% 0 !important;
	margin: 0;
	padding: 0;
}



h4.nombre_alumno
{
	text-transform: uppercase;
	font-family: Arial;
	
}



hgroup.head_welcome 
{
	background: white;
	padding: 1%;
	text-align: justify;
	border-bottom: 3px solid black;
}



article.des_cali figure 
{
	
	display: inline-block;	
	width: 6%;
}

article.des_cali p
{
	display: inline-block;
	width: 75%;
}

article.des_asistencias figure 
{
	
	display: inline-block;	
	width: 6%;
}

article.des_asistencias p
{
	display: inline-block;
	width: 75%;
}

article.descripcion img:hover
{
	-webkit-animation: swing 1s 5;
}

@-webkit-keyframes swing {
	20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: top center; }
	20% { -webkit-transform: rotate(15deg); }	
	40% { -webkit-transform: rotate(-10deg); }
	60% { -webkit-transform: rotate(5deg); }	
	80% { -webkit-transform: rotate(-5deg); }	
	100% { -webkit-transform: rotate(0deg); }
}